@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

/* body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    background-color: #391757;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
} */

h2 {
    color: #333;
}

/* Additional styles specific to the dashboard */
/* #sidebar {
    width: 100%;
    max-width: 250px;
    background-color: #333;
    padding-top: 20px;
}

#sidebar a {
    padding: 15px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
    transition: 0.3s;
}

#sidebar a:hover {
    background-color: #555;
} */

.main_dashboard {
    display: flex;
    flex-direction: column;
    gap: 2px;
    /* padding: 16px; */
    /* width: 100%;  */
    /* max-width: 1200px; */
    margin: 0 auto;
    /* padding-top: 10%; */
    /* height: 100%; */
}

.grid-card {
    height: 100%;
    display: grid;
    gap: 2px;
    padding: 2px;
    box-sizing: border-box;
}

/* Add styles for rows and columns */
.row {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    justify-content: space-around;
}



.column {
    flex: 1;
    margin: 10px;
    padding: 20px;
}

/* Placeholder styles for charts */
.chart-placeholder {
    flex-grow: 1;
    height: 80%;
    width: 90%;
    background-color: #333;
    border-radius: 10px;
    margin-top: 10px;
    padding-bottom: 2%;
}

/* Add the following style to set canvas dimensions */
.chart-placeholder canvas {
    padding: 2%;
    width: 100%;
    height: 90%;
}

.card {
    background-color: #1e1e1e;
    color: #ffffff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-4-5 {
    height: 700px;
    padding-bottom: 9%;
}

/* Add this style to improve the aesthetics of the table */
.table-responsive {
    overflow-x: auto; /* Enable horizontal scrolling if needed */
    width: 100%;
    height: 100%;
}
.table.table.table-bordered.table-striped{
    width: 100%;
    height: 100%;
}
/* Style the table headers */
.table th {
    /* background-color: #555;  */
    color: white; 
    font-size: large;
    border-bottom: 2px solid rgba(225, 143, 224, 0.533);
    background-color: rgb(61, 47, 66);
}

/* Style the alternating rows */
/* .table tbody tr:nth-child(odd) {
    background-color: rgb(52, 47, 66)
} */
/* Style the table cells */
.table td {
    border-color: #747075; /* Border color for cells */
    border-bottom: 2px solid #6658;
}

/* Add padding and margin to the table */
.table {
    margin-bottom: 0; /* Remove default margin */
    border-radius: 8px; /* Add border radius to table */
    padding: 1%;
}

/* Add a shadow to the table for a card-like appearance */
.table {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Box shadow for a card-like appearance */
}

.table thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
    justify-content: center;
}


.card-6 {
    height: 420px;
    padding-bottom: 7%;
}


/* Media Query for smaller screens */
@media (max-width: 768px) {
    #sidebar {
        max-width: 100%; /* Allow sidebar to take full width on smaller screens */
    }

    .row {
        flex-direction: column; /* Adjust row to column layout for smaller screens */
    }

    .column {
        flex: 1 0 100%; /* Allow columns to take full width on smaller screens */
    }
}

/* .table-bordered {
    border: 1px solid #081c2f;
} */


