body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    background-color: #121212;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h2 {
    color: #333;
}

form {
    background-color: #1e1e1e;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    display: flex;
    flex-direction: column;
   
}

label {
    display: block;
    margin-bottom: 10px;
    color: #c77dff;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
    background-color: #333;
    color: #ffffff;
    border: 1px solid #c77dff;
    border-radius: 5px;
}

button {
    background-color: #c77dff;
    color: #ffffff;
    padding: 12px 20px;
    border: none;
    border-radius: 20px; /* Round the edges */
    cursor: pointer;
}

button:hover {
    background-color: #a550c7;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

li.error {
    color: red;
}
