body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    width: 80%;
}

.receipt-container, .image-container {
    border: 1px solid #000;
    padding: 20px;
    box-sizing: border-box;
}

.receipt-info {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.details {
    display: block;
    margin-bottom: 20px;
}

.details p {
    margin: 0;
}

.receipt-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    border: 1px solid #000;
    margin-bottom: 20px;
}

.form-input {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box; /* Add padding to the input fields */
}

.upload-button {
    font-family: 'Montserrat';
    background-color: #c77dff;
    color: #f7fff7;
    display: flex;
    align-items: center;
    font-size: 18px;
    border: none;
    border-radius: 20px;
    margin: 10px;
    padding: 7.5px 50px;
    cursor: pointer;
  }