<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OCR Document Retrival</title>
    <!-- Custom CSS-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/ocr_styles.css') }}">

</head>
<body>
    <main>
        <section class="ocr-upload">
            <h2>OCR Page Upload</h2>
            <form action="/upload_file" method="post" enctype="multipart/form-data">
                <input type="file" id="myFile" name="filename">
                <label for="myFile">Upload The Receipt</label>
                <br>
                <input type="submit" value="Submit">
            </form>
        </section>
    </main>
</body>
</html>