<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receipt Info</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/verification-receipt-info.css') }}">
</head>
<body> -->
{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <form class="form-container" action="/verify" method="post" enctype='multipart/form-data'>
        <div class="container">
            <div class="receipt-container">
                <div class="receipt-info">
                    Reciept Info
                </div>
                <div class="details">
                    <label for="category">Category</label>
                    <select id="category" name="category">
                        <option value="Groceries">Groceries</option>
                        <option value="Clothing/Accessories">Clothing/Accessories</option>
                        <option value="Food and Dining">Food and Dining</option>
                        <option value="Entertainment">Entertainment</option>
                        <option value="Miscellaneous">Miscellaneous</option>
                    </select>
                    <br>
                    <!-- Merchant Name  -->
                    <label for="zipcode">Merchant Name</label>
                    <input class="form-input" type="text" id="merchant" name="merchant" placeholder="Merchant Name" value="{{ receipt_info.merchant_name }}">
                    <br>
                    <!-- Zip code  -->
                    <label for="zipcode">Zipcode</label>
                    <input class="form-input" type="text" id="zipcode" name="zipcode" placeholder="Zip code" value="{{ receipt_info.zip_code }}">
                    <br>
                    <!-- Country  -->
                    <label for="country">Country</label>
                    <input class="form-input" type="text" id="country" name="country" placeholder="Country" value="{{ receipt_info.country }}">
                    <br>
                    <!-- State  -->
                    <label for="state">State</label>
                    <input class="form-input" type="text" id="state" name="state" placeholder="State" value="{{ receipt_info.state }}">
                    <br>
                    <!-- City  -->
                    <label for="city">City</label>
                    <input class="form-input" type="text" id="city" name="city" placeholder="city" value="{{ receipt_info.city }}">
                    <br>
                    <!-- Date  -->
                    <label for="date">Date</label>
                    <input class="form-input" type="text" id="date" name="date" placeholder="date" value="{{ receipt_info.date }}">
                    <br>
                    <!-- Total amount  -->
                    <label for="total_amount">Total amount</label>
                    <input class="form-input" type="text" id="total_amount" name="total_amount" placeholder="total_amount" value="{{ receipt_info.total_amount }}">
                    <br>
                    <!-- Sub total amount  -->
                    <label for="sub_total_amount">Sub-total amount</label>
                    <input class="form-input" type="text" id="sub_total_amount" name="sub_total_amount" placeholder="sub_total_amount" value="{{ receipt_info.sub_total_amount }}">
                    <br>
                    <!-- Tax  -->
                    <label for="tax">Tax</label>
                    <input class="form-input" type="text" id="tax" name="tax" placeholder="tax" value="{{ receipt_info.tax }}">
                    <br>
                  <!-- Display items with scrolling -->
                    <input type="hidden" name="items" id="itemsInput">
                    <div class="item-list">
                        <label for="items">Items</label>
                        <div class="item-scroll-container">
                            <ul>
                                {% for item in receipt_info['items'] %}
                                    <li>
                                        <span class="item-description">{{ item['description'] }}</span>
                                        <span class="item-amount">{{ item['amount'] }}</span>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <script>
                        // Assuming receipt_info.items is a JSON-serializable list
                        var itemsData = {{ receipt_info['items'] | tojson | safe }};
                        document.getElementById('itemsInput').value = JSON.stringify(itemsData);
                    </script>
                    <!-- Verification button -->
                    <button type="submit" class="upload-button"> Submit </button>
                </div>
            </div>
            <div class="image-container">
                <label for="image_path"></label>
                <img class="receipt-image" src="{{ url_for('static', filename=image_path) }}" alt="Uploaded Receipt">
            </div>
        </div>
    </form>

{% endblock %}

<!-- </body>
</html> -->