<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receipt Info</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/verification-receipt-info.css') }}">
</head>
<body>
    <form class="form-container" action="/verify" method="post" enctype='multipart/form-data'>
        <div class="container">
            <div class="receipt-container">
                <div class="receipt-info">
                    Reciept Info
                </div>
                <div class="details">
                    <!-- Merchant Name  -->
                    <label for="zipcode">Merchant</label>
                    <input class="form-input" type="text" id="merchant" name="merchant" placeholder="Merchant Name" value="{{ receipt_info.merchant_name }}">
                    <br>
                    <!-- Zip code  -->
                    <label for="zipcode">Zipcode</label>
                    <input class="form-input" type="text" id="zipcode" name="zipcode" placeholder="Zip code" value="{{ receipt_info.zip_code }}">
                    <br>
                    <!-- Country  -->
                    <label for="country">Country</label>
                    <input class="form-input" type="text" id="country" name="country" placeholder="Country" value="{{ receipt_info.country }}">
                    <br>
                    <!-- State  -->
                    <label for="state">State</label>
                    <input class="form-input" type="text" id="state" name="state" placeholder="State" value="{{ receipt_info.state }}">
                    <br>
                    <!-- City  -->
                    <label for="city">city</label>
                    <input class="form-input" type="text" id="city" name="city" placeholder="city" value="{{ receipt_info.city }}">
                    <br>
                    <!-- Date  -->
                    <label for="date">date</label>
                    <input class="form-input" type="text" id="date" name="date" placeholder="date" value="{{ receipt_info.date }}">
                    <br>
                  <!-- Display items with scrolling -->
                    <div class="item-list">
                        <label for="items">Items</label>
                        <div class="item-scroll-container">
                            <ul>
                                {% for item in receipt_info.items %}
                                    <li>
                                        <span class="item-description">{{ item['description'] }}</span>
                                        <span class="item-amount">{{ item['amount'] }}</span>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <!-- Verification button -->
                    <button type="submit" class="upload-button"> Submit </button>
                </div>
            </div>
            <div class="image-container">
                <img class="receipt-image" src="{{ url_for('static', filename=image_path) }}" alt="Uploaded Receipt">
            </div>
        </div>
    </form>
</body>
</html>